@charset "UTF-8";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 1100px;
}

.outer-wrapper{
    min-height: 100%;
    padding-bottom: 395px;
}

p {
    text-indent: 2em;
}

/*header
================================*/
header {
    background-color: #636;
    color: #fff;
    position: relative;
}

.header-nav {
    height: 80px;
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.header-nav h1 {
    position: absolute;
    bottom: 5px;
    margin: 0;
    padding: 0;
}

.header-nav ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    bottom: 5px;
    right: 0;
}

.header-nav ul li {
    float: left;
}

.header-nav ul a{
    font-family: "SimSun",sans-serif;
    font-size: 14px;
    color: #fff;
    display: block;
    text-decoration: none;
    padding-left: 28px;
}

header img {
    position: absolute;
    right: 10px;
    bottom: 0;
}

@media (max-width: 1200px){
    header img {
        display: none;
    }
}

/*main
================================*/
    /*banner
    ================================*/
.banner {

    position: relative;
}

.banner img {
    display: block;
    width: 100%;
}


.desc {
    position: absolute;
    width: 360px;
    color: #fff;
    right: 10%;
    bottom: 0;
    padding: 10px 10px 30px 10px;
    background: linear-gradient(to bottom, rgba(255,255,255,.3),rgba(255,255,255,.2) 25%,rgba(255,255,255,0));
}

.desc h2 {
    font-size: 14px;
    float: right;
}
.desc p {
    font-size: 12px;
    clear: right;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

    /* three col
    ================================*/
.main-content-wrapper{
    padding-top:10px;
    padding-bottom: 110px;
    background-color: #eee;
}
.main-content {
    width:980px;
    margin:0 auto;
    overflow: hidden;
}

.col-3-card{
    float: left;
    background-color: #fff;
    width: 320px;
    margin-right: 10px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}

#last-card {
    margin-right: 0;
}



.col-3-card img {
    width: 300px;
    height: 180px;
    display: block;
    margin: 10px auto;
}


.col-3-card p{
    margin: 0;
    padding: 5px 30px 25px 30px;
}

    /*intro
    ================================*/

.intro img {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    position: relative;
}

.intro-wrapper {
    width: 600px;
    margin: 0 auto;
}
.intro-wrapper h2{
    margin-top: 50px;
    text-align: center;
}



/*footer
================================*/
footer {
    background-color: #000;
    color: #fff;
    margin-top: -396px;
    text-align: center;
    height: 395px;
    position: relative;
}

footer hr {
    border: 1px solid #333;
}

#footer-nav1 {
    /*display: flex;*/
    height: 36px;
}

#footer-nav1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footer-nav1 a {
    display: block;
    padding: 12px 25px 12px 0;
}

#footer-nav1 li{
    display: inline-block;
}


.secondary-nav {
    display: flex;
    width: 980px;
    margin:0 auto;
    text-align: left;
}

.secondary-nav ul {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}

.info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.info a {
    display: block;
    width: 30px;
    margin: 0 auto;
}

.info a img {
    display: block;
}

/*blog style
================================*/
body {
    background-color: #eee;
}

.blog-main {
    width: 980px;
    margin: 20px auto;
    padding: 0;
}


/*main row
================================*/
.blog-main-row {
    float: left;
    width: 710px;
    margin-right: 10px;
}

.blog-content {
    background-color: #fff;
    padding: 22px 31px 16px 31px;
    margin-bottom: 10px;
}

.blog-content h2 {
    font-size: 16px;
}
.blog-content p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
}
.blog-content h3 {
    font-size: 12px;
    color: #666;
}

.blog-content h4 {
    margin: 0;
    padding-top: 12px;
    font-size: 12px;
    float: right;
    color: #999;
}


/*Info Tags*/
.info-tag {
    margin-left: -81px;
    float: left;
}

.info-tag-item {
    text-align: center;
    font-size: 10px;
    display: block;
    color: #fff;
    line-height: 40px;
    height: 40px;
    width: 50px;
}

.sec-num {
    background-color: #522a5c;
}

.sec-cat {
    background-color: #a660b7;
}

/*blog-page-nav*/
.blog-page-nav {
    width: 572px;
    margin: 0 auto;
}

.blog-page-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-page-nav a{
    font-size: 12px;
    background-color: #fff;
    float: left;
    display: block;
    padding: 14px 15px;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

/*.blog-page-nav a{*/
    /*font-size: 12px;*/
    /*background-color: #fff;*/
    /*float: left;*/
    /*display: block;*/
    /*padding: 14px 15px;*/
    /*margin-right: 10px;*/
    /*text-decoration: none;*/
/*}*/

#blog-page-nav-curr {
    background-color: #a660b7;
    color: #fff;
    font-weight: 700;
}

#blog-page-nav-inactive {
    color: #808080;
}

/*sidebar
================================*/

.blog-sidebar {
    width: 260px;
    float: right;
}


/*search-bar*/
.search-bar {
    background-color: #fff;
    padding: 19px;
    margin-bottom: 10px;
}

.search-bar input {
    float: left;
}

.search-bar input[type="text"] {
    padding:15px 15px 15px 49px;
    width: 170px;
    height: 42px;
    border: 1px solid #ddd;
    background: url('../img/icon-search.png') 14px 6px no-repeat;
}

.search-bar input[type="submit"] {
    font-size: 20px;
    color: #fff;
    background-color: #ccc;
    text-align: center;
    width: 52px;
    height: 42px;
    border: none;
}

/*category-sidebar*/
.category-sidebar {
    background-color: #ddd;
    margin-bottom: 10px;
}

.category-sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.category-sidebar li {
    background-color: #fff;
    border-left: 4px solid #dfc6e6;
    margin: 1px 0;
    /*border-top: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
}

.category-sidebar a {
    display: block;
    padding-left: 12px;
    padding-bottom: 18px;
    padding-top: 17px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
}


.category-sidebar li:hover {
    border-left: 4px solid #636;
}

/*calendar*/
.calendar {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 24px 19px 26px 19px;
}

.arrow-left {
    padding-left: 13px;
    padding-right: 52px;
}

.calendar-nav {
    color: #773c88;
    font-weight: 700;
}

.arrow-right {
    padding-left: 52px;
}


.month-view {
    background-color: #eee;
}

.calendar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #999;
}

.calendar li {
    width: 30px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 8px;
    float: left;
}

.curr-day {
    color: #fff;
    background-color: #773c88;
}

.special-days {
    color: #639;
    font-weight: 700;
}

/*tag-link*/
.tag-link {
    background-color: #fff;
    padding: 13px 20px 30px 16px;
}
.tag-link h3 {
    color: #666;
}
.tag-link ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tag-link ul li{
    display: inline-block;
    /*padding: 5px;*/
}

.tag-link a {
    color: #639;
    display: block;
    text-decoration: none;
    padding: 0;
}




/*相册*/
.gallery {
    width: 980px;
    margin: 70px auto 10px auto;
}

.gallery-main {
    width: 710px;
    float: left;
    background-color: #fff;
}
.waterfall ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*相册导航栏*/
.gallery-main-nav {
    /*height: 50px;*/
    height: 50px;
    float: left;
    margin-top: -50px;
    padding: 0;
    list-style-type: none;
}

.gallery-main-nav li{
    float: left;
}

.gallery-main-nav a {
    text-decoration: none;
    color: #000;
    height: 49px;
    display: block;
    padding: 15px 20px 20px 20px;
    background-color: #fff;
    border-top:4px solid #522a5c ;
    margin-right: 1px;
}


.gallery-main-nav:first-child .gallery-nav-active {
    border-top:4px solid #522a5c ;
    border-bottom: 1px solid #fff;
    height: 50px;
}

.gallery-main-nav:nth-child(1) .gallery-nav-active {
    height: 50px;
    border-top:4px solid #522a5c ;
    border-bottom: 1px solid #fff;
}

.gallery-main-nav:nth-child(2) .gallery-nav-active {
    height: 50px;
    border-top:4px solid #592 ;
    border-bottom: 1px solid #fff;
}


.gallery-main-nav a:hover:not(.gallery-nav-active) {
    border-top:4px solid #0000ff ;
    height: 50px;
    border-bottom: 1px solid #fff;
}




.gallery-sidebar {
    width: 260px;
    float: right;
    background-color: #fff;

}
.waterfall-left {
    float: left;
    margin-left: 20px;
}

.waterfall-column {
    float: left;
}

.waterfall{
    margin-right: 10px;
    margin-bottom: 10px;
}

.waterfall-content {
    background-color: #522a5c;
    color: #fff;
}

.waterfall-long {
    width: 330px;
}

.waterfall-short {
    width: 160px;
}

.waterfall-content img{
    width: 100%;
    height: auto;
    display: block;
}

.waterfall-img-desc {
    padding-left: 50px;
    padding-right: 15px;
}

.letter-icon {
    border: 1px solid #fff;
    border-radius: 13px;
    text-align: center;
    width: 27px;
    height: 27px;
    line-height: 27px;
    float: left;
    position: relative;
    top: 10px;
    left: 10px;
}

.waterfall-img-desc h1 {
    margin: 0;
    font-size: 14px;
    padding-top: 12px;
}

.waterfall-img-desc p {
    font-size: 12px;
    text-indent: 0;
    padding-top: 13px;
    padding-bottom: 28px;
    margin: 0;
}


/*Imported Style
================================*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
